<div class= 'border border-white mt-4 pt-4 pl-2' style="max-width: 50rem; font-size: 18px;">
    <p>
      <u>Prénom</u>: <%= @user.first_name %><br>
      <u>Nom</u>: <%= @user.last_name %><br>
      <u>Description</u>: <%= @user.description %><br>
      <u>Email</u>: <%= @user.email %><br>
    </p>

</div>